*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
*.prof
*.pprof
*.tmp
*.temp
*~
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.swp
*.swo
*~
*.log
/bin/
/dist/
/build/
/out/
.env
*.local
*.secret
/.golangci.yml
/.golangci.json
/z
kubie-go
kubie